<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Jesus Christ's Salvation</title>
        <link href="/static/style.css" rel="stylesheet">
    </head>

    <body>
        <div style="text-align: center; font-size: 80px; color: darkcyan;">
            <h1>About Jesus Christ's Salvation</h1>
        </div>

        <h1 class="header">Jesus Christ is the Son of God and He came to die on the cross for your sins so that you may have eternal life with Him forever.</h1>

        <div style="padding: 40px;">
            <button onclick="clicked(page_load='home')" style="accent-color: white; background-color:darkcyan; font-size: 40px; cursor: pointer;">Home</button>
        </div>

        <script>
            function clicked(page_load) {
                fetch("/load_page", {method: "POST", body: page_load}).then(res => {if (res.redirected) window.location.href = res.url;});
            }
        </script>
    </body>
</html>